/* Simple Default Browser Cursor */
.cursor-dot,
.cursor-ring {
  display: none !important;
}

body {
  cursor: auto;
}

a,
button,
[data-hover],
input[type="submit"],
input[type="button"],
select {
  cursor: pointer;
}

